.basic-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: auto;
}

.error {
  color: #f44336;
  font-size: 0.75rem;
}

.success {
  color: green;
  font-size: 0.75rem;
}